[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = ">=3.9,<3.12"
requests = "*"
drf-nested-routers = "*"
drf-yasg = "*"
pydantic = "*"
packaging = "*"
uwsgi = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
